
body {
	font-size: 18px;
<<<<<<< HEAD
	margin: auto;   
}

header {
}

.header-top {
	background: #FE0000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	height: 100px;
}

.header-text {
	line-height: 1pt;
	margin-top: 1em;
	position: relative;
	left: -150px;
}

.header-logo img {
	height: 100px;

}

.header-menu ul {
	display: flex;
	justify-content: space-between;
	line-height: 3;
	list-style: none;
}

.header-menu ul li a {
	color: #fff;
	padding-right: 1em;
}

.header-under {
	background-image: url(https://loremflickr.com/1500/600);
	color: #fff;
	height: 600px;
	margin-left: 50px;
	margin-right: 50px;
}
=======
	margin: auto;
}

/*       ############    DE SECTION 1     ################          */

.hotmenu { 
				font-family: helvetica, sans-serif;

}

.hotmenu h1 { 
				color: green;
				font-size: 20px;
				text-transform: uppercase;
				font-weight: bold;
				padding-left: 20px;
}

.hotmenu h2 {
				color: black;
				font-size: 20px;
				text-transform: uppercase;	
}

.hotmenu p {
				color: black;
				font-size: 18px;
	
}


.hotmenu img {
				background-color: grey;
 				width: 320px;
 				height: 200px;
 				
}


.hotmenu article { 
				float: left;
				width: 320px;
				text-align: center;
				padding-left: 20px;
				padding-right: 20px;

}
.clearfloat {
				clear:both;
}

/*       ############   FIN DE SECTION 1     ################          */

/*       ############   SECTION 2     ################         */

.whattoorder{
	background-color: grey;
	display: flex;
    margin: auto;
    justify-content: space-around;
}

.whattoorder img{
	list-style: none;
	display: flex;
	width: 50px;
	height: 50px;
	flex-wrap: nowrap;
}
.whattoorder h4{
	font-size: 15px;
	text-transform: uppercase;
	

}
.whattoorder h5{
	font-size: 13px;
}
.whattoorder p{
	font-size: 10px;
}





/*       ############    FOOTER     ################          */

footer { 
				font-family: helvetica, sans-serif;
				padding-left: 50px;
				padding-top: 10px;
				padding-bottom: 30px;
				background-color: #555555;
}
footer p { 
				color: white;
				font-size: 10px;
				text-transform: uppercase;
}

footer a { 
				color: white;
				text-decoration: none;
}

.whitespace {
				height: 25px;
				background-color: white;

}

/*       ############   FIN DE FOOTER     ################          */
<<<<<<< HEAD

=======
>>>>>>> 8635a1774128ce46434254d19b8a2d132e01d9f1
>>>>>>> 0bebbfb10fb2fd9ff23586cd77d5a7988ff2d338
>>>>>>> da679a4b25fe2e7da61dbfb0b29fa0e746f226f2
