body {
	font-size: 18px;
	margin: auto;   
}

header {
}

.header-top {
	background: #FE0000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	height: 100px;
}

.header-text {
	line-height: 1pt;
	margin-top: 1em;
	position: relative;
	left: -150px;
}

.header-logo img {
	height: 100px;

}

.header-menu ul {
	display: flex;
	justify-content: space-between;
	line-height: 3;
	list-style: none;
}

.header-menu ul li a {
	color: #fff;
	padding-right: 1em;
}

.header-under {
	background-image: url(https://loremflickr.com/1500/600);
	color: #fff;
	height: 600px;
	margin-left: 50px;
	margin-right: 50px;
}